<!--<div class="row">-->
  <div class="d-flex justify-content-end">
    <div class="p-2">
      <button mat-raised-button color="primary" (click)="newSite()">Insert New Site</button>
    </div>
  </div>
<!--</div>-->

<div class="table-responsive-lg">
  <table mat-table [dataSource]="dataSource" matSort class="table table-hover table-bordered">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let site">
        {{site.id}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="updatedAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header=""> Updated </mat-header-cell>
      <mat-cell *matCellDef="let site">
        {{site.updatedAt | date:"short" : "+000"}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="siteName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Site </mat-header-cell>
      <mat-cell *matCellDef="let site">
        {{site.siteName}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="url">
      <mat-header-cell *matHeaderCellDef mat-sort-header> URL </mat-header-cell>
      <mat-cell *matCellDef="let site">
        <a href="{{site.url}}" target="_blank">{{site.url}}</a>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let site">
        {{site.email}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="active">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Active </mat-header-cell>
      <mat-cell *matCellDef="let site">
        <mat-slide-toggle [(ngModel)]="site.active" [checked]="(site.active == 1) ? 'true' : 'false'" (change)="siteToggle($event, site)">
        </mat-slide-toggle>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
      <mat-cell *matCellDef="let site">
        <span *ngIf="site.active == 0; else checkStatus">
          <i class="material-icons md-18" [ngStyle]="{'color': 'gray'}">&nbsp;
            pause_circle_filled
          </i>
        </span>
        <ng-template #checkStatus>
          <i class="material-icons md-18" [ngStyle]="(site.status === 'up') ? {'color': 'green'} : {'color': 'red'}">&nbsp;
            {{(site.status === 'up') ? 'check_circle' : 'error'}}
          </i>
        </ng-template>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="controls">
      <mat-header-cell *matHeaderCellDef>Controls</mat-header-cell>
      <mat-cell *matCellDef="let site">
        <!--<div *ngIf="site.id != 1">-->
          <i class="material-icons md-18" (click)="editSite(site)">&nbsp;edit&nbsp;</i>
          <i class="material-icons md-18" (click)="deleteCron()">&nbsp;delete_outline&nbsp;</i>
        <!--</div>-->
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
</div>
