.mat-column-id {
  flex: 0 0 7% !important;
}

.mat-column-updateedAt {
  flex: 0 0 15% !important;
}

.mat-column-status {
  flex: 0 0 7% !important;
}

.mat-column-siteName {
  flex: 0 0 17% !important;
}

.mat-column-url {
  flex: 0 0 23% !important;
}

.mat-column-active {
  flex: 0 0 8% !important;
}

.mat-column-email {
  flex: 0 0 15% !important;
}

.mat-column-controls {
  flex: 0 0 8% !important;
}
