<nav class="navbar navbar-expand-sm bg-dark navbar-dark d-flex justify-content-between">
  <div class="p-2"><a class="navbar-brand" href="#">Uptime Monitor </a></div>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/dashboard">Home</a>
      <a class="nav-item nav-link" routerLink="/sites" routerLinkActive="active">Sites</a>
      <a class="nav-item nav-link" routerLink="/led" routerLinkActive="active">LED</a>
      <a class="nav-item nav-link" routerLink="/currentStatus" routerLinkActive="active">Current Status</a>
      <a class="nav-item nav-link" routerLink="/activity" routerLinkActive="active">Activity</a>
      <a class="nav-item nav-link" routerLink="/schedules" routerLinkActive="active">Schedules</a>
      <a class="nav-item nav-link" routerLink="/outages" routerLinkActive="active">Outages</a>
      <a class="nav-item nav-link" routerLink="/notifications" routerLinkActive="active">Notifications</a>
    </div>
  </div>
  <div class="p-2"><span id="subtitle">Admin Panel</span></div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
