<div class="row">
  <div class="col">
    <div class="d-flex flex-row-reverse refresh">
      <button mat-raised-button color="primary" id="refresh" (click)="refreshData()"><i class="material-icons md-18">refresh</i></button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card mb-3">
      <div class="card-header bg-transparent"><i class="material-icons bg-flame headerIcon">traffic</i> <span class="cardTitle d-flex flex-row-reverse align-top text-flame">LED Status</span></div>
      <div class="card-body text-success">
        <h5 class="card-title"> </h5>
        <p class="card-text d-flex justify-content-between">
          <!--<span>-->
            <span *ngFor="let led of leds"  matTooltip="{{led.color | toProperCase}} light is {{(led.status == 1) ? 'on' : ' off'}}">
              <div [ngClass]="(led.status == 1) ? led.color + ' led' : led.color + '-off led'"></div>
            </span>
          <!--</span>-->
        </p>
      </div>
      <div class="card-footer text-right bg-transparent"><button mat-raised-button class="bg-flame" routerLink="/led">More</button> </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col d-flex">
    <div class="card mb-3 flex-fill">
      <div class="card-header bg-transparent"><i class="material-icons bg-blue-jeans headerIcon">pages</i> <span class="cardTitle d-flex flex-row-reverse align-top text-blue-jeans">Sites</span></div>
      <div class="card-body text-flames">
        <h5 class="card-title"> </h5>
        <div class="card-text">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let site of sites">
              <a href="{{site.url}}" target="_blank">{{site.siteName}}</a>
              <span class="badge badge-pill"><i class="material-icons" mat-list-icon [ngStyle]="(site.status === 'up') ? {'color': 'green'} : {'color': 'red'}">&nbsp;
                          {{(site.status === 'up') ? 'check_circle' : 'error'}}
                        </i></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-footer text-right bg-transparent"><button mat-raised-button class="bg-blue-jeans" routerLink="/sites">More</button> </div>
    </div>
  </div>
  <div class="col d-flex">
    <div class="card mb-3 flex-fill">
      <div class="card-header bg-transparent"><i class="material-icons bg-princeton-orange headerIcon">cloud_off</i>
        <span class="cardTitle d-flex flex-row-reverse align-top text-princeton-orange">Outages</span>
      </div>
      <div class="card-body text-success">
        <h5 class="card-title"> </h5>
        <div class="card-text">
          <div style="display: block">
            <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [plugins]="barChartPlugins"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
            </canvas>
          </div>
        </div>
      </div>
      <div class="card-footer text-right bg-transparent"><button mat-raised-button class="bg-princeton-orange" routerLink="/outages">More</button></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card mb-3">
      <div class="card-header bg-transparent"><i class="material-icons bg-gargoyle-gas headerIcon">alarm</i> <span class="cardTitle d-flex flex-row-reverse align-top text-gargoyle-gas">Scheduler</span></div>
      <div class="card-body text-gargoyle-gas">
        <h5 class="card-title"> </h5>
        <div class="card-text">Sites are checked every {{currentCheckedMinutes}} minutes. Change the frequency here: <br />
          <form class="checkFrequencyForm" #f="ngForm" (ngSubmit)="changeFrequency(f)">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Check Frequency" type="text" name="frequencyValue" ngModel>
            </mat-form-field><br />
            <button mat-raised-button class="bg-gargoyle-gas" type="submit">Change Frequency</button>
          </form>
        </div>
      </div>
      <div class="card-footer text-right bg-transparent"><button mat-raised-button class="bg-gargoyle-gas" routerLink="/schedules">More</button></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col d-flex">
    <div class="card mb-3 flex-fill">
      <div class="card-header bg-transparent"><i class="material-icons bg-android-green headerIcon">apps</i>
        <span class="cardTitle d-flex flex-row-reverse align-top text-android-green">Activity</span>
      </div>
      <div class="card-body text-android-green">
        <h5 class="card-title"> </h5>
        <div class="card-text">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let activity of activities">
              <em>{{activity.createdAt | minutesSince}} mins ago</em> <strong>{{activity.sitesAffected}}</strong>
              <span class="badge badge-pill">
                <i class="material-icons" mat-list-icon [ngStyle]="(activity.activityType === 'up') ? {'color': 'green'} : {'color': 'red'}">&nbsp;
                        {{(activity.activityType === 'up') ? 'check_circle' : 'error'}}
                </i>
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-footer text-right bg-transparent"><button mat-raised-button class="bg-android-green" routerLink="/activity">More</button></div>
    </div>
  </div>
  <div class="col d-flex">
    <div class="card mb-3 flex-fill">
      <div class="card-header bg-transparent"><i class="material-icons bg-purple-haze headerIcon">email</i>
        <span class="cardTitle d-flex flex-row-reverse align-top text-purple-haze">Notifications</span>
      </div>
      <div class="card-body text-purple-haze">
        <h5 class="card-title"> </h5>
        <div class="card-text">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let note of notifications">
              <em>{{note.createdAt |date: "medium" : "+000"}}</em>
              <span class="badge badge-pill">
                <i class="material-icons md-18" [ngStyle]="(note.status === 'success') ? {'color': 'green'} : {'color': 'red'}">&nbsp;
                  {{(note.status === 'success') ? 'check_circle' : 'error'}}
                </i>
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-footer text-right bg-transparent"><button mat-raised-button class="bg-purple-haze" routerLink="/notifications">More</button></div>
    </div>
  </div>
</div>
