<div class="row">
  <div class="col">
    <div class="card mb-3">
      <div class="card-header bg-transparent"><i class="material-icons bg-flame">traffic</i> <span class="cardTitle d-flex flex-row-reverse align-top text-flame">LED Status</span></div>
      <div class="card-body text-success">
        <h5 class="card-title"> </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="card-footer bg-transparent">Footer</div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-3">
      <div class="card-header bg-transparent"><i class="material-icons bg-android-green">apps</i> <span class="cardTitle d-flex flex-row-reverse align-top text-android-green">Recent Activity</span></div>
      <div class="card-body text-success">
        <h5 class="card-title"> </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="card-footer bg-transparent">Footer</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card mb-3">
      <div class="card-header bg-transparent"><i class="material-icons bg-blue-jeans">pages</i> <span class="cardTitle d-flex flex-row-reverse align-top text-blue-jeans">Sites</span></div>
      <div class="card-body text-success">
        <h5 class="card-title"> </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="card-footer bg-transparent">Footer</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card mb-3">
      <div class="card-header bg-transparent"><i class="material-icons bg-gargoyle-gas">alarm</i> <span class="cardTitle d-flex flex-row-reverse align-top text-gargoyle-gas">Scheduler</span></div>
      <div class="card-body text-success">
        <h5 class="card-title"> </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="card-footer bg-transparent">Footer</div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-3">
      <div class="card-header bg-transparent"><i class="material-icons bg-princeton-orange">cloud_off</i> <span class="cardTitle d-flex flex-row-reverse align-top text-princeton-orange">Recent Outages</span></div>
      <div class="card-body text-success">
        <h5 class="card-title"> </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <div class="card-footer bg-transparent">Footer</div>
    </div>
  </div>
</div>
